@import '../../../styles/custom-media.css';

.container {
  width: 100%;
  height: auto;
  display: block;
  @media (--media-min-large) {
    display: flex;
    align-items: stretch;
    height: 680px;
  }
}

.align__header {
  @media (min-width: 1700px) {
    padding-left: 23%;
  }
  @media (min-width: 2436px) {
    padding-left: 47%;
  }
  @media (min-width: 4000px) {
    padding-left: 32vw;
  }
}

.left__side {
  width: 100%;
  height: auto;
  display: block;
  @media (--media-min-large) {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }
}

.right__side {
  width: 100%;
  height: auto;
  display: block;
  @media (--media-min-large) {
    width: 50%;
    height: 100%;
    background-color: #0D1C3D;
    position: relative;
  }
}

.nft {
  @media (--media-min-large) {
    position: absolute;
    width: 100%;
    height: auto;
    left: -20px;
    top: 100px;
    bottom: 0;
  }
}

.heading {
  font-size: var(--font-size-primary-lg);
  color: inherit;
  line-height: 1.2em;
}

.simpleBlockContent {
  p{
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-secondary-md);
  }
}

.simple__block__content {
  color: var(--black);
  h1 {
    font-size: var(--font-size-primary-xl);
  }
  h2 {
    font-size: var(--font-size-primary-lg);
  }
  h3 {
    font-size: var(--font-size-primary-md);
  }
  h4 {
    font-size: var(--font-size-primary-sm);
  }
  h5 {
    font-size: var(--font-size-primary-xs);
  }
  p {
    font-size: var(--font-size-secondary-md);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-secondary);
  }
}
