.simpleBlockContent {
  p {
    color: var(--black);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-secondary-md);
  }
}

.download__icon {
  margin-right: 8px;
}
