@import '../../../styles/custom-media.css';

.simpleBlockContent {
    padding: 0 1em 0 0;
}

.simpleBlockContent p {
  font-family: 'Europa';
  font-size: 16px;
}

.simpleBlockContent a {
  font-family: 'Europa';
  color: #0082E5;
  text-decoration: none;
  font-weight: 600;
}

.simpleBlockContent a:hover {
  text-decoration: underline;
}

.fixedLayout {
  @media (--media-min-large) {
    width: 90%;
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 200;
  }
}

.simpleBlockContent a{
  color: #0082E5;
}
