@import '../../../styles/custom-media.css';

.simpleBlockContent {
  padding: 0 1em 0 0;
}

.simpleBlockContent p {
  font-family: 'Europa';
  margin: 60px 0px;
  font-size: 34px;
  font-weight: 900;
  line-height: 40px;
}

.simpleBlockContentProxy p {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-secondary-lg);
}
