@import '../../styles/custom-media.css';


.textSection{
    font-family: 'Europa';
    margin-left: 10px;
}

.textSection > :is(h1, h2, h3, h4, h5, h6){
   color: #0082e5;
   width: 100%;
}

.textSection a{
    color: #0082e5;
    text-decoration: none;
    font-size: 18px
}

