@import "../../../styles/custom-media.css";

.heading {
font-family: 'Europa';
   color: #091b3f;
}

.heading a{
    font-family: 'Europa';
    color: #0082ef;
    text-decoration: none;
}

.secondButton{
    color: #dc6e19;
}

.secondButton:hover {
    color: white;
}