@import '../../../../styles/custom-media.css';
  .imgGrid {
    width: 100%;
    max-width: 100%;
    height: 250px;
    position: relative;
    @media (--media-min-large) {
      height: 200px;
    }
  }
