@import "../../../styles/custom-media.css";

.menuItem:hover {
  color: var(--color-dark-orange);
  background-color:  var(--color-light-gray);
  @media (--media-min-large) {
    background: none;
  }
}

.menuItem:hover:after {
  @media (--media-min-large) {
    background: var(--color-dark-orange);
    bottom: -7px;
    transition: 0.3s;
  }
}

.menuItem:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2.5px;
  background:  none;
  bottom: -10px;
  transition: 0.3s;
}
