@import '../../../styles/custom-media.css';

.textSection > :is(h1, h2, h3, h4, h5, h6){
   color: #0082e5 !important;
}

.video{
   position: relative;
   width: 100%;
}

.videoContainer{
   position: absolute;
   width: 30%;
   top: 450px;
}
