
.simpleBlockContent {
  margin-top: -6px;
}

.simpleBlockContent p {
  font-family: 'Europa';
  margin: 0;
}

.simpleBlockContent a {
  font-family: 'Europa';
  color: #FFF;
  text-decoration: none;
}

.simpleBlockContent, .leftSimbleBlockContent strong {
  font-family: 'Europa';
  color: #0082ef;
  text-decoration: none;
  font-weight: 600;
}

.leftSimbleBlockContent a {
  font-family: 'Europa';
  color: #0082ef;
  text-decoration: none;
}

.simpleBlockContent a:hover {
  cursor: pointer;
}

.leftSimbleBlockContent a:hover {
  cursor: pointer;
}


.span{
  color: #bbbabf;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  margin-top: 45px;
}
