@import '../../../styles/custom-media.css';
  .imgGrid {
    position: relative;
    width: 100%;
    padding-bottom: 55%;
    float: left;
    height: 0;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      transition: 0.3s;
    }
  }

  .play {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .noDecoration {
    text-decoration: none;
    color: #000;
  }

  .noDecoration:hover {
    text-decoration: underline;
  }

  .noDecoration:visited {
    color: #000;
  }

.article__card {
  min-width: 300px;
  @media (--media-min-large) {
    min-width: auto;
    flex: 1 1 0;
  }
  &:hover {
    img {
      transform: scale(1.2);
      transition: 0.3s;
    }
    .noDecoration {
      text-decoration: underline;
    }
  }
}

.blue {
  color: var(--hover-blue)
}
