@import '../../../styles/custom-media.css';

.simpleBlockContent {
  position: relative;
  margin-left: 50px;
}

.simpleBlockContent p {
  font-family: 'Europa';
  font-size: 18px;
  color: #091B3F;
}

.simpleBlockContent p strong {
  color: #0082E5;
}

.iconMap {
  position: absolute;
  left: -40px;
}
