
@font-face {
	font-family: 'Europa';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../assets/fonts/europa-regular-webfont.ttf') format('truetype');
}
@font-face {
	font-family: 'Europa';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../assets/fonts/europa-bold-webfont.ttf') format('truetype');
}
@font-face {
	font-family: 'Europa';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../assets/fonts/europa-light-webfont.ttf') format('truetype');
}

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

html,
body,
:global(#__next),
:global(.container) {
  height: 100%;
}

:global(.content) {
  min-height: calc(100% - 84px - 218px);
}
