@import '../../../styles/custom-media.css';

.simpleBlockContent {
  position: relative;
  @media (--media-min-large) {
    margin-left: 38px;
  }
}

.simpleBlockContent p {
  font-family: 'Europa';
  font-size: 18px;
  color: #091B3F;
  text-align: left;
  @media (--media-min-large) {
    text-align: left;
  }
}

.simpleBlockContent p strong {
  color: #0082E5;
}

.iconMap {
  position: absolute;
  left: -40px;
}
