.simpleBlockContent p{
    font-family: 'Europa';
    font-size: 16px;
}

.simpleBlockContent a{
    font-family: 'Europa';
    font-size: 16px;
}


.card{
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
}

.card:hover{
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 15%);
}

.button{
    color: #0f4b7d;
    font-family: 'Europa';
    font-size: 16px;
}

.button:hover{
    background: none;
}