@import '../../../styles/custom-media.css';

.fixedLayout {
  @media (--media-min-large) {
    width: 90%;
    position: fixed!important;
    top: 35px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9999;
    .arrow___left {
      top: 15%;
    }
    .arrow___right {
      top: 15%;
    }
  }
}

.arrow___left {
  position: absolute;
  border-left: none;
  padding: 10px;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  cursor: pointer;
  @media (--media-max-large) {
    display: none;
  }
}

.arrow___right {
  position: absolute;
  border-left: none;
  padding: 10px;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
  cursor: pointer;
  @media (--media-max-large) {
    display: none;
  }
}

.arrow__dark__gray {
  background: #28373c;
  color: var(--orange);
}

.arrow__dark__blue {
  background: #0D1C3D;
  color: var(--white);
}

.arrow__light__blue {
  background: var(--light-blue);
  color: var(--white);
}

.menu {
  padding: 20px 0px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  position: relative;
  @media (--media-max-large) {
    margin: 10px 0px;
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  ul {
    max-width: 100%;
    list-style: none;
    display: inline-flex;
    margin: 0px;
    padding: 0;
    li {
      width: 100%;
      white-space: nowrap;
      padding: 10px 30px;
      @media (--media-max-large) {
        border-radius: 24px;
        margin-right: 10px;
      }
      a {
        font-size: var(--font-size-secondary-lg);
        font-family: var(--font-family-secondary);
        &:hover {
          text-decoration: underline;
          text-underline-offset: 60%;
        }
      }
    }
  }
}

.light__blue {
  background: var(--light-blue);
  @media (--media-max-large) {
    background: transparent;
  }
  ul {
    li {
      @media (--media-max-large) {
        background: var(--light-blue);
      }
      &:last-child {
        border-left: 1px solid var(--white);
        a {
          color: var(--light-orange);
        }
      }
      a {
        color: var(--white);
      }
    }
  }
}

.dark__blue {
  background: #0D1C3D;
  @media (--media-max-large) {
    background: transparent;
  }
  ul {
    li {
      @media (--media-max-large) {
        background: #0D1C3D;
      }
      &:last-child {
        border-left: 1px solid var(--white);
        a {
          color: var(--light-orange);
        }
      }
      a {
        color: var(--white);
      }
    }
  }
}

.dark__gray {
  background: #28373c;
  @media (--media-max-large) {
    background: transparent;
  }
  ul {
    li {
      @media (--media-max-large) {
        background: #28373c;
      }
      &:last-child {
        border-left: 1px solid var(--white);
        a {
          color: var(--white);
        }
      }
      a {
        color: var(--light-orange);
      }
    }
  }
}

.section__title {
  font-size: var(--font-size-primary-lg);
}

.simple__block__content {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-secondary-lg);
  line-height: 2em;
  ::marker {
    color: var(--light-blue);
  }
  ul {
    padding: 0;
    margin: 25px;
  }
}

.observation {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-secondary-xs);
  color: var(--dark-gray);
  margin-top: 20px;
}

.icon {
  width: 114px;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.solidDarkBlue {
  background-color: var(--dark-blue);
}

.solidOrange {
  background-color: var(--light-orange);
}

.solid {
  background-color: var(--light-blue);
}

.bg__darkblue {
  background-color: var(--darkblue);
}

.title__product {
  width: 100%;
  h3 {
    font-size: var(--font-size-primary-md);
  }
  h5 {
    font-size: var(--font-size-secondary-md);
    color: #404040;
  }
}

.half {
  width: 50%;
}
