.simple__block__content * {
  color: var(--white);
  h1 {
    font-size: var(--font-size-primary-xl);
  }
  h2 {
    font-size: var(--font-size-primary-lg);
  }
  h3 {
    font-size: var(--font-size-primary-md);
  }
  h4 {
    font-size: var(--font-size-primary-xs);
  }
  h5 {
    font-size: var(--font-size-secondary-xs);
  }
  p {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-secondary-xs);
  }
  strong {
    color: var(--light-orange);
  }
}

.social__media {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  a {
    color: inherit;
  }
  .icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 1em 0em;
  }
}

.box__container {
  margin-top: 40px;
  overflow-y: hidden;
  display: flex;
  &::-webkit-scrollbar {
    display: none;
  }
  &:last-child {
    margin-right: 0;
  }
  .box__main__hero {
    min-width: 200px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    padding: 1em;
    border: 1px solid transparent;
    transition: 0.3s;
    &:hover {
      border-color: var(--light-orange);
      transition: 0.3s;
    }
    .box__title {
      display: flex;
      align-items: center;
      h5 {
        color: var(--gray);
        font-size: var(--font-size-secondary-xs);
        font-family: var(--font-family-secondary);
        font-weight: var(--font-weight-bold);
      }
      svg {
        color: var(--light-orange);
        margin-right: 5px;
      }
    }
    p {
      color: var(--gray);
      font-size: var(--font-size-secondary-xs);
      font-family: var(--font-family-secondary);
      font-weight: var(--font-weight-regular);
      border-bottom: 1px solid var(--component-light-gray);
      padding-bottom: 20px;
      margin-bottom: 0px;
    }
  }
}

.blue {
  border-color: var(--light-blue)!important;
  transition: 0.3s;
  p {
    position:relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -1px;
      width: 40%;
      height: 1px;
      background-color: var(--light-blue);
    }
  }
  &:hover {
    border-color: var(--light-orange)!important;
    transition: 0.3s;
    p {
      &::after {
        background-color: var(--light-orange);
      }
    }
  }
}

