.title {
  text-align: center;
  font-size: var(--font-size-primary-lg);
  color: var(--black);
}

.subtitle {
  p {
    text-align: center;
    font-size: var(--font-size-primary-md);
    color: var(--black);
  }
  h5 {
    text-align: center;
    font-size: var(--font-size-primary-xs);
    color: var(--black);
    margin: 0px;
  }
}

.line {
  width: 10px;
  height: 1500px;
  background-color: var(--dark-gray);
  position: relative;
  .circle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--light-blue);
    color: var(--white);
    font-size: var(--font-size-primary-xs);
    width: 78px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-weight: var(--font-weight-regular);
  }
  .text {
    width: 200px;
    position: absolute;
    p {
      font-weight: var(--font-weight-regular);
      font-size: var(--font-size-primary-xs);
      color: var(--black);
      em {
        font-size: var(--font-size-secondary-sm);
        color: var( --dark-gray);
        font-style: normal;
        font-weight: 300;
      }
    }
  }
  .top {
    top: 0;
  }
  .bottom {
    bottom: 0;
  }
  .right {
    left: 80px;
  }
  .left {
    right: 80px;
  }
}

.half__height {
  height: 800px;
}

.simpleBlockContent {
  width: 100%;
  p {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-primary-xs);
    color: var(--black);
    em {
      font-size: var(--font-size-secondary-sm);
      color: var( --dark-gray);
      font-style: normal;
      font-weight: 300;
    }
  }
}
