@import '../../../styles/custom-media.css';

.title {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccondBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f0f0f1;
}
