.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social li {
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 5px 6px 0px 6px;
  font-size: 17px;
  margin-right: 7px;
  color: var(--color-accent);
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.social li:hover {
  color: white;
  background-color: var(--color-orange);
  transition: 0.3s;
}
