@import "../../../styles/custom-media.css";

.simple__block__content {
  margin-bottom: 40px;
  color: var(--white);
  h1 {
    font-size: var(--font-size-primary-xl);
    color: var(--white);
  }
  h2 {
    font-size: var(--font-size-primary-lg);
    color: var(--white);
  }
  h3 {
    font-size: var(--font-size-primary-md);
    color: var(--white);
  }
  h4 {
    font-size: var(--font-size-primary-sm);
    color: var(--white);
  }
  h5 {
    font-size: var(--font-size-primary-xs);
    color: var(--white);
  }
  p {
    font-size: var(--font-size-secondary-,d);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-secondary);
    margin: 0;
  }
  strong {
    color: var(--blue);
  }
}

.container__buttons {
  display: flex;
  gap: 10px;
  @media (--media-max-large) {
    display: block;
  }
  a {
    @media (--media-max-large) {
      width: 100%;
    }
    button {
      @media (--media-max-large) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
