.button {
  border: none;
  padding: 0px 15px;
  border-radius: 3px;
  cursor: pointer;
  font-family: var(--font-family-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;

  &__solid {
    background-color: var(--light-blue);
    color: var(--white);
    transition: 0.3s;

    &:hover {
      background-color: var(--hover-blue);
      transition: 0.3s;
    }

    &:disabled,
    &[disabled] {
      background-color: var(--disabled-gray);
      color: var(--component-light-gray);
      cursor: auto;
    }
  }

  &__solid__white {
    background-color: var(--white);
    color: var(--light-blue);
    border: 1px solid transparent;
    transition: 0.3s;

    &:hover {
      background-color: var(--hover-blue);
      border: 1px solid var(--white);
      color: var(--white);
      transition: 0.3s;
    }

    &:disabled,
    &[disabled] {
      background-color: var(--disabled-gray);
      color: var(--component-light-gray);
      cursor: auto;
    }
  }
  &__solid__darkblue {
    background-color: var(--dark-blue);
    color: var(--white);
    transition: 0.3s;
    &:hover {
      background-color: var(--hover-blue);
      transition: 0.3s;
    }
  }
  &__solid__orange {
    background-color: var(--orange);
    color: var(--white);
    transition: 0.3s;

    &:hover {
      background-color: var(--hover-blue);
      transition: 0.3s;
    }

    &:disabled,
    &[disabled] {
      background-color: var(--disabled-gray);
      color: var(--component-light-gray);
      cursor: auto;
    }
  }

  &__outlined {
    background-color: transparent;
    color: var(--component-light-gray);
    border: 1px solid var(--component-light-gray);
    transition: 0.3s;

    &:hover {
      background-color: var(--hover-blue);
      color: var(--white);
      border-color: var(--hover-blue);
      transition: 0.3s;
    }

    &:disabled,
    &[disabled] {
      background-color: transparent;
      color: var(--disabled-gray);
      border: 1px solid var(--disabled-gray);
      cursor: auto;
    }
  }

  &__outlined__white {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    transition: 0.3s;

    &:hover {
      background-color: var(--hover-blue);
      color: var(--white);
      border-color: var(--hover-blue);
      transition: 0.3s;
    }

    &:disabled,
    &[disabled] {
      background-color: transparent;
      color: var(--disabled-gray);
      border: 1px solid var(--disabled-gray);
      cursor: auto;
    }
  }
}

.arrow {
  position: realtive;
  margin-left: auto;
}
