.heading {
    position: relative;
    font-weight: 600;
    font-size: var(--font-titleImages-size) !important;
    line-height: var(--font-title2-line-height);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    color:#0082E4;
    text-align: center;
}

.simpleBlockContent {
  text-align: center;
  font-family: 'Europa';
}

.simpleBlockContent > :is(h1, h2, h3, h4, b, strong){
  color: #0082e5;
}

.simpleBlockContent h1 {
  font-size: 38px;
}

.simpleBlockContent h2 {
  font-size: 34px;
}

.simpleBlockContent h3 {
  font-size: 28px;
}

.simpleBlockContent h4 {
  font-size: 24px;
}

.simpleBlockContent h5 {
  font-size: 20px;
}

.simpleBlockContent p{
  margin-top: 0px;
  margin-bottom: 0.2rem;
  font-size: 16px;
  color: #091B3F
}
