.rowContent {
    display: flex;
    flex-direction: row;
}

.heading {
    position: relative;
    font-weight: 600;
    font-size: var(--font-titleImages-size) !important;
    line-height: var(--font-title2-line-height);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    color:#0082E4;
    text-align: center;
}