.heading {
  font-size: var(--font-size-primary-lg);
  color: inherit;
}

.simpleBlockContent {
  p{
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-secondary-md);
  }
  strong {
    font-weight: 600;
  }
}
