.heading {
  font-size: var(--font-size-primary-lg);
  color: inherit;
}

.simpleBlockContent {
  p{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-secondary-lg);
  }
  strong {
    font-weight: 700;
  }
}
