@import '../../../styles/custom-media.css';

.simple__block__content {
  color: var(--black);
  h1 {
    font-size: var(--font-size-primary-xl);
  }
  h2 {
    font-size: var(--font-size-primary-lg);
  }
  h3 {
    font-size: var(--font-size-primary-md);
  }
  h4 {
    font-size: var(--font-size-primary-sm);
  }
  h5 {
    font-size: var(--font-size-primary-xs);
  }
  p {
    font-size: var(--font-size-secondary-md);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-secondary);
  }
}

.blue {
  color: var(--hover-blue);
}

.no__decoration {
  text-decoration: none !important;
}
