@import '../../../styles/custom-media.css';

.simple__block__content {
  color: var(--black);
  h1 {
    font-size: var(--font-size-primary-xl);
  }
  h2 {
    font-size: var(--font-size-primary-lg);
  }
  h3 {
    font-size: var(--font-size-primary-md);
  }
  h4 {
    font-size: var(--font-size-primary-sm);
  }
  h5 {
    font-size: var(--font-size-primary-xs);
  }
  p {
    font-size: var(--font-size-secondary-md);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-secondary);
  }
}

.blue {
  font-size: var(--font-size-secondary-sm);
  color: var(--hover-blue);
}

.no__decoration {
  text-decoration: none !important;

  &__newsletter{
    text-decoration: none !important;
    color: var(--black);
  }
}

.line {
  width: 100%;
  height: 8px;
  margin-bottom: 10px;
  background: transparent linear-gradient(90deg, #ebebeb 0%, #f2f2f2 100%) 0% 0% no-repeat
    padding-box;
    &:last-child{
  margin-bottom: 0;
    }
}

.newsletter {

  word-wrap: break-word;


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }

  span {
    color: var(--orange);
    font-size: var(--font-size-secondary-xs);
  }

  p {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-secondary-lg);
  }
}

.orangeText{
  color: var(--light-orange);
  font-size: var(--font-size-secondary-xs);
}

.newsCard {
  word-wrap: break-word;
  p {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-secondary-sm);
  }
}

.author {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-secondary-xs);
  span {
    font-size: var(--font-size-secondary-xs);
    color: var(--light-blue);
  }
  padding-bottom: 10px;
}

.publishedDate {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-secondary-xs);
  color: #A9A9A9;
}
