@import '../../../styles/custom-media.css';

.textSection > :is(h1, h2, h3, h4){
   color: var(--black);
   width: 100%;
   font-size: var(--font-size-primary-lg);
}

.textSection p {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-secondary-md);
}

.textSection > :is(ul, ol){
   width: 100%;
}

.textSection a{
   text-decoration: none;
   color: #0f4b7d
}

.textSection strong {
  color: #0082e5;
}

.video{
   position: relative;
   width: 100%;
}

.videoContainer{
   position: absolute;
   width: 30%;
   top: 450px;
}

.simple__block__content {
  color: var(--black);
  h1 {
    font-size: var(--font-size-primary-xl);
  }
  h2 {
    font-size: var(--font-size-primary-lg);
  }
  h3 {
    font-size: var(--font-size-primary-md);
  }
  h4 {
    font-size: var(--font-size-primary-sm);
  }
  h5 {
    font-size: var(--font-size-primary-xs);
  }
  p {
    font-size: var(--font-size-secondary-md);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-secondary);
  }
}

