.our__funds__section {
  padding: 100px 0px;
}

.box__container {
    width: 100%;
    overflow-y: hidden;
    display: flex;
    scroll-behavior: smooth;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    &:first-child {
      padding-left: 40px;
    }

    &:last-child {
        margin-right: 0;
    }

    .box__main__hero {
        min-width: 500px;
        background: transparent radial-gradient(closest-side at 50% 50%, #F59B1E 0%, #F59B1E 100%) 0% 0% no-repeat padding-box;
        border-radius: 4px;
        padding: 1em;
        color: var(--white);
        margin-right: 30px;
    }
}
