@import '../../../styles/custom-media.css';

.simpleBlockContent {
  max-width: 100%;
  overflow-x: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: var(--medium-gray);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--light-blue);
    border-radius: 10px;
    border: 3px solid var(--gray);
  }
}

.simpleBlockContent table {
  width: 100%;
  font-size: 18px;
}

.simpleBlockContent thead tr th {
  padding: 20px 0px;
  text-align: center;
  border-bottom: 1px solid #E8E8EA;
}

.headerTransparent tr th {
  background: transparent!important;
  text-align: left!important;
  padding: 20px 15px!important;
  border-bottom: 1px solid #E8E8EA;
  color: var(--black);
  font-weight: var(--font-weight-bold);
}

.simpleBlockContent tbody tr td{
  border-bottom: 1px solid #E8E8EA;
  padding: 30px 15px;
  text-align: left;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-secondary);
  color: var(--black);
}

.simpleBlockContent tbody tr td:first-child {
  color: var(--black);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-primary);
}

.tableColorful tr td:first-child{
  color: var(--black);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-primary);
}

.tableColorful tr td:last-child{
  .bg {
    color: var(--white);
    border-radius: 30px;
    text-align: center;
    padding: 10px 0px;
  }
}

.orange tr td:last-child {
  .bg {
    background-color: var(--light-orange);
  }
}

.light__blue tr td:last-child {
  .bg {
    background-color: var(--light-blue);
  }
}

.dark__blue tr td:last-child {
  .bg {
    background-color: #0D1C3D;
  }
}

.simpleBlockContent .elementor-381 .elementor-element.elementor-element-7313428{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}

.simpleBlockContent {
  p {
    color: var(--black);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-secondary-md);
    em {
      color: var( --dark-gray);
      font-style: normal;
      font-weight: 300;
    }
  }
}

.fundPerformanceHeader {
  display: flex;
  text-align: center;
  color: var(--black);
  font-weight: 900;
  font-size: 20px;
  flex-wrap: wrap;
  @media (--media-min-large) {
    flex-wrap: nowrap;
  }
  p {
    font-weight: var(--font-weight-bold);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-secondary-md);
  }
}

.firstCell {
  width: 28.171%;
  display: none;
  @media (--media-min-large) {
    display: block;
  }
}

.secondCell {
  width: 100%;
  border-bottom: 1px solid #e8e8ea;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (--media-min-large) {
    width: 63.745%;
  }
}

.thirdCell {
  width: 100%;
  border-bottom: 1px solid #e8e8ea;
  padding: 10px;
  display: flex;
  @media (--media-min-large) {
    width: 8.24%;
  }
}

.thirdCell p {
  width: 100%;
}

.download__icon {
  margin-right: 8px;
}

