.navTeam {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navTeam li {
  font-family: 'Europa';
  margin-right: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 700;
  border-right: 2px solid #032b4c;
  color: #032b4c;
  margin-bottom: 5px;
}

.navTeam li a {
  text-decoration: none;
  color: #032b4c;
}

.navTeam li a:visited {
  color: #032b4c;
}

.navTeam li a:hover {
  color: #DC6E19;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.navTeam li:last-child {
  border-right: none;
}

.simpleBlockContent p {
  font-size: 16px;
  font-family: 'Europa';
  color: rgb(82, 82, 82);
}
